.content {
  padding: 112px 0px;
  background-color: #ffffff;
}
.content h4 {
  font-family: Montserrat;
  color: #737373;
  font-size: 20px;
}
.content h2 {
  font-family: Oswald;
  font-size: 49px;
  color: #252b42;
}
.content p {
  font-style: 18px;
  font-family: Raleway;
  color: #737373;
}

.contentFirstBtn {
  background-color: #23856d;
  color: white;
  border: none;
}
.contentFirstBtn:hover {
  background-color: #1b6955;
  color: white;
  border: none;
}

.contentSecondBtn {
  border: solid #23856d 1px;
  background-color: transparent;
  color: #23856d;
}
.contentSecondBtn:hover {
  background-color: #23856d;
  color: white;
}
@media screen and (max-width: 768px) {
  .content h2 {
    margin: 15px 0px;
  }
  .content p {
    margin: 15px 0px;
  }
  .contentFirstBtn {
    margin: 15px 0px 0px 0px;
  }
  .contentSecondBtn {
    margin: 0px 0px 15px 0px;
  }
}
@media screen and (max-width: 1200px) {
  .contentButtons {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: 10px;
  }
}
.contentButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
