.addProductContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addProduct {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 25em;
}

.addProduct .btn {
  display: block;
  margin: auto;
  background-color: #252b42;
  color: #ffffff;
}
.addProduct .btn:hover {
  color: #ffffff;
  background-color: #141825;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1rem;
}

.form-group label {
  margin-bottom: 0.2rem;
}

.errorDiv {
  border-radius: 5px;
  padding: 10px;
  background-color: #df4759;
  font-family: Oswald;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
